.app {
    position: relative;
    
}

.mobile-header--nav {
 
    position: sticky;
    top: 150px;
    width: 100%;
    background-color: orange;
    z-index: 1;
    overflow: hidden;
}

.mobile-header--nav ul {
    
    list-style: none;
    padding-left: 0;
    padding: 1em;
    display: flex;
    gap: 1.5em;
    white-space: nowrap;

}

.mobile-header--nav ul a[role=link] {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.mobile-header--nav ul a[role=link]:hover {
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-thickness: 4px;
    text-decoration-color: white;
}

@media(min-width: 1025px){
    .mobile-header--nav {
        display: none;
    }
}

.app-path {
    display: flex;
    gap: 1em;
    padding: 1em;
    overflow-x: scroll;
    white-space: nowrap;
}

.app-path a[role=link] {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    cursor: pointer;
}

.app-path a[role=link]:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-color: #1a323f;
}

.app-path #pathSeparater::before {
    content: '/';
    font-weight: 600;
}

/* filter and view items */

.app-search--container {
    /* max-width: 1500px;
    margin: 2em auto; */
    display: grid;
    /* overflow: hidden; */
    /* border: 1px solid black; */
}



.app-search--filterBlock {
}


.filter-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
}

.filter1-row {
    /* margin: 0.5rem 0; */
    padding: 0.5em;
}

.filter1-row a[role=link] {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.filter1-row a[role=link]:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.filter1-row p span.underline {
    text-decoration: underline;
    font-weight: 700;
}

.filter-btn {
    border-radius: 2rem;
    background-color: #1a323f;
    color: white;
    padding: 0.5em 1em;
    display: flex;
    gap: 1em;
    align-items: center;
}

.filter-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.filter-actions {
    display: flex;
    gap: 1em;
    align-items: center;
}
.filter--search {
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid black; 
    padding: 0.5em;
}

.app-search--items {
    padding: 0.5em 1em;
    border-left: 2px solid black;
}
.app-search--items p#smaller {
    font-size: 0.75rem;
    overflow: hidden;
}
/* featured items */
.app-search--featuredItems {
    overflow: scroll;   
}

.featuredItems--container {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;

}

.featuredItems--item {
    flex-basis: 140px;
}

.featured-item--image {
    position: relative;
    height: 144px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.75rem;
    text-transform: capitalize;
    text-align: center;
    display: grid;
    place-content: center;
}

.image__bookmark{
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: pointer;
}

.image__bookmark:hover {
    opacity: 0.5;
}

.featured-item--tag {
    margin-top: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.55rem;
}

.featured-item--tag a[role=link]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.featured-item--title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
    margin: 0.25rem 0;
}

.featured-item--creator {
    font-size: 0.67rem;
}

.featured-item--price {
    margin-top: 5px;
    font-weight: 700;
}

/* end of featured items */

.app-search--filter {
    display: none;
    margin-bottom: 0.5em;
}

.asi-items {
    margin-top: 0.5rem;
    display: grid;
    gap: 1em;
}

.app-search--item {
    display: flex;
    gap: 1em;
    padding-bottom: 1rem;
}

.app-search--item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.app-search--item .asi-left {
    position: relative;
}

.asi-left--image {
    width: 144px;
    height: 144px;
    background-color: #ccc;
    display: grid;
    place-content: center;
    text-align: center;
}

.asi-image--overlay {
    position: absolute;
    top: 7.4px;
    left: 7.4px;
    width: 144px;
    height: 144px;
    background-color: rgba(26, 50, 63, 0.7);
    z-index: -1;
}

.app-search--item .asi-mid {
    flex: 1;
}

.asi-mid .item--tag {
    font-size: 12px;
    text-transform: uppercase;
}

.asi-mid .item--tag a[role=link] {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.asi-mid .item--tag a[role=link]:hover {
    text-decoration: underline;
}

.asi-mid .item--title {
    font-weight: 600;
}
.asi-mid .item--creator {
    font-style: italic;
}

.asi-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.asi-right .item--difficulty a[role=link] {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.asi-right .item--price {
    font-weight: 700;
}
.asf-input {
    position: relative;
    flex-basis: 300px;
    flex-shrink: 0;
}

.asf-input input[type=search] {
    padding-left: 2em;
    width: 100%;
    outline: none;
}
.asf-input input[type=search]:focus {
    outline: 1px solid #1a323f;
}
.asf-input svg {
    position: absolute;
    top: 5px;
    left: 5px;
}

@media(min-width: 1025px){
    .app-search--container {
        
        grid-template-columns: 1fr 3fr;
        gap: 1em;
        border: 1px solid black;
    }

    .app-search--filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-row .filter-actions {
        display: none;
    }
}